.project-cards {
    margin: 2em 0;
}

.markdown-preview-view .project-card .internal-link,
.markdown-preview-view .project-card .internal-link:hover {
    text-decoration: none;
}

.project-card {
    margin: .5em 0;
    /* border: 1px solid #444; */
    background: hsla(0, 0%, 0%, .1);
    padding: .5em .5em .5em 2em;
    position: relative;
    /* max-width: 40em; */
    border-radius: .25rem;
}

/* Display priority tags as colored circle badges instead of text. */
.project-card-status {
	display: block;
    position: absolute;
    top: .75em;
    left: .5em;
    color: transparent;
	content: '';
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-right: .25em;
}

.project-card-status[data-status="today"] {
	background: #d9534f;
}

.project-card-status[data-status="todo"] {
    background: #0275d8;
}

.project-card-status[data-status="done"] {
    background: #5cb85c;
}

.project-card-status[data-status="cont"] {
    background: #5bc0de;
}

.project-card-status[data-status="future"],
.project-card-status[data-status="wait"] {
    background: #444;
}

.project-card-status[data-status="important"],
.project-card-status[data-status="now"] {
    background: #ffd946;
}

.project-card .project-card-title {
    margin: 0;
    font-size: 1rem;
}

.project-card-title a {
    color: inherit;
    text-decoration: none;
}

.project-card-meta,
.project-card-note {
    font-size: smaller;
    color: #999;
    line-height: 1.5;
    margin-top: .25em;
}

.project-card-link {
    display: inline-block;
    color: inherit;
    line-height: 1;
    padding: 4px;
    margin-right: .5em;
    margin-bottom: .5em;
    border: 1px solid #444;
    text-decoration: none;
}

.project-card-note-date {
    margin-right: .5em;
    color: white;
}

.project-card-note-text {
    color: #999;
}

.project-card-sep {
    color: #666;
}